.header-menu {
  display: flex;

  h1 {
    font-family: sans-serif;
    margin-right: auto;
  }

  .menu-container {
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .menu-btn {
      padding: 10px;
    }
  }
}


