<div class="header-menu" *transloco="let t; read: 'main-app'">
  <h1>{{ t('site-title') }}</h1>
  <nav>
    <div class="menu-container">
      <div *ngIf="auth.user$ | async as user">
        <div>{{ t('username') }}:: {{ user.name }}</div>
      </div>

      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button class="menu-btn" (click)="logout()">{{ t('logout') }}</button>
      </ng-container>

      <ng-template #loggedOut>
        <button class="menu-btn" (click)="login()">{{ t('login') }}</button>
      </ng-template>

      <ng-container [ngSwitch]="true">
        <button *ngSwitchCase="['/', '/store'].includes(router.url)" class="menu-btn" (click)="toShoppingCart()">{{ t('to-cart') }}</button>
        <button *ngSwitchCase="['/cart'].includes(router.url)" class="menu-btn" (click)="toStore()">{{ t('to-shopping') }}</button>
      </ng-container>

    </div>
  </nav>
</div>

<router-outlet></router-outlet>
